/*--------------------------
    Carousel Styling
--------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300, 400,700");
#vid {
  margin: 25px 0;
  padding-top: 20px;
}

.carousel .inner-content {
  min-height: 100px;
}

.carousel .carousel-indicators {
  bottom: 0;
}

.carousel .carousel-indicators li {
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-color: white;
  border-width: 3px;
}

.carousel .carousel-indicators li.active {
  background: white;
}

.carousel .carousel-control {
  font-size: 52px;
  background: transparent;
  text-shadow: none;
  color: #000;
  opacity: 1;
}

.carousel .carousel-control:hover, .carousel .carousel-control:focus, .carousel .carousel-control:active {
  color: #333333;
}

.carousel#video-carousel {
  padding-bottom: 90px;
  padding-top: 50px;
}

.carousel#video-carousel .carousel-inner .inner-content {
  min-height: 420px;
}

.carousel#video-carousel .carousel-inner .inner-content .youtube-video {
  position: absolute;
  left: 0;
  top: 0;
}

.carousel#video-carousel .carousel-inner .play-button-wrapper {
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel#video-carousel .carousel-control {
  color: rgba(0, 0, 0, 0.6);
  width: auto;
  line-height: 400px;
}

.carousel#video-carousel .carousel-control.left {
  margin-left: -200px;
}

.carousel#video-carousel .carousel-control.right {
  margin-right: -200px;
}

.carousel#video-carousel .carousel-control:hover, .carousel#video-carousel .carousel-control:focus, .carousel#video-carousel .carousel-control:active {
  color: rgba(0, 0, 0, 0.9);
}

/*--------------------------
    Button Styling
--------------------------*/
.btn {
  text-shadow: none;
}

.btn:hover, .btn:focus, .btn:active {
  border-color: transparent;
}

.btn.btn-video {
  padding: 20px;
  font-size: 40px;
  line-height: 0;
  border-radius: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

ol.numbered {
  border-left: 3px solid orange;
  counter-reset: numbered-list;
  margin-left: 40px;
  position: relative;
}

ol.numbered li {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 25px;
  padding-left: 30px;
}

ol.numbered li:last-child {
  border-left: 3px solid white;
  margin-left: -3px;
}

ol.numbered li:before {
  background-color: orange;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  content: counter(numbered-list, decimal);
  counter-increment: numbered-list;
  display: block;
  font-weight: bold;
  width: 40px;
  height: 40px;
  margin-top: -0.5em;
  line-height: 40px;
  position: absolute;
  left: -24.5px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #8B8B8C;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

a:hover, a:active {
  opacity: 0.8;
}

p.highlight {
  color: #333333;
}

.modal-box {
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  max-width: 1000px;
  min-width: 750px;
  overflow: hidden;
}

.modal-box > div {
  padding: 50px;
}

.modal-box > .left {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.modal-box > .right1 {
  background-size: content;
  background-position: center center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.modal-box > .right2 {
  background-size: cover;
  background-position: center center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.modal-head {
  margin-bottom: 50px;
}

.modal-head h1 {
  color: #333333;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  margin: 0 0 10px;
}

.modal-head p {
  font-size: 14px;
  line-height: 20px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.modal-link {
  border: 1px solid #EFF1F4;
  border-radius: 4px;
  color: #8C8C91;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal-link:hover, .modal-link:active {
  top: -1px;
}

.modal-link:not(:last-child) {
  margin-bottom: 15px;
}

.modal-link:after {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 30px;
}

.modal-link.google:after {
  background-image: url("https://4.bp.blogspot.com/-I4gN9il1yFc/Wx6s6mqXDdI/AAAAAAAAA7I/B2eEP87ZumUPm-KBwhEUlcACehLagRY-ACLcBGAs/s1600/google-plus.png");
}

.modal-link.facebook:after {
  background-image: url("https://4.bp.blogspot.com/-8fZBJFYdA1w/Wx6s6hyL2XI/AAAAAAAAA7Q/q7IJG8buCCAlGMPhzbfs3ijg-eRqdZHmgCLcBGAs/s1600/facebook.png");
}

.modal-link.twitter:after {
  background-image: url("https://1.bp.blogspot.com/-LCK5bANscgE/Wx6s6nczF7I/AAAAAAAAA7M/hsaQ-SMszhg2HWx9uD4Ku9io4IL4_ljkgCLcBGAs/s1600/twitter.png");
}

.modal-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=slide.css.map */