
/*--------------------------
    Carousel Styling
--------------------------*/
#vid {
    margin:25px 0;
    padding-top:20px;
}


.carousel {
    
    .inner-content {
        min-height: 100px;
    }
    
    .carousel-indicators {
        bottom:0; //Align to bottom of parent div

        li {
            margin:0 2px;
            width: 18px;
            height: 18px;
            background: transparent;
            border-color: lighten(white, 15%);
            border-width: 3px;

            &.active {
                background: lighten(white, 15%);
            }
        }
    }
    
    .carousel-control {
        font-size: 52px;
        background:transparent;
        text-shadow:none;
        color: #000;
        opacity:1;
        
        //Hover, Focus and Active styles
        &:hover, &:focus, &:active {
            color:lighten(#000, 20%);
        }
    }


    //Video Carousel
        &#video-carousel {
            padding-bottom:90px; //Extra padding for '.carousel-indicators'
            padding-top:50px;



            .carousel-inner {
                // border:2px solid #f3f3f3;
                // background-color:#f3f3f3;//Prevents background image being shown when switching slides
                
                //Inner content - Wrapper for the '.youtube-video' div
                .inner-content {
                    min-height: 420px; //Change this for different viewports
                    
                    //The YouTube video - This styling may cause issues
                    .youtube-video {
                        position: absolute;
                        left:0;
                        top:0;
                    }
                }
                
                //Play button and button wrapper
                .play-button-wrapper {
                    cursor:pointer;
                    
                    //Wrapper overlays the entire video
                    z-index: 9999;
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    
                    //This centers the play buton
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            //Control buttons - Left/Right
            .carousel-control {
                color:rgba(#000, 0.6);
                width: auto;
                line-height: 400px;//Height of the items

                &.left {
                    margin-left:-200px;
                }

                &.right {
                    margin-right:-200px;
                }
                
                //Hover, Focus and Active styles
                &:hover, &:focus, &:active {
                    color:rgba(#000, 0.90);
                }
            }
        }
}



/*--------------------------
    Button Styling
--------------------------*/
.btn {
    text-shadow:none;
    
    //Hover, Focus and Active styles
    &:hover, &:focus, &:active {
        border-color: transparent;
    }
    
    //Play button
    &.btn-video {
        padding: 20px;
        font-size: 40px;
        line-height: 0;
        border-radius: 0;
    }
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  // PAGE STYLES
//   html {  
//     background: #eef;
//     font-family: "Helvetica Neue", "Arial";
//   }
  
//   body {
//     background-color: #fff;
//     margin: 100px;
//     padding: 20px;
//   }
  
  // TIMELINE ORDERED LIST
  ol.numbered {
    $bullet-line-width: 3px;
    $bullet-color: orange;
    $bullet-border-width: $bullet-line-width;
    $bullet-background-color: white;
    $bullet-size: 40px;
    border-left: $bullet-line-width solid $bullet-color;
    counter-reset: numbered-list;
    margin-left: 40px;
    position: relative;
  
li {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 25px;
      padding-left: 30px;
      &:last-child {
        border-left: $bullet-line-width solid $bullet-background-color;
        margin-left: -$bullet-line-width;
      }
  
      &:before {
        $half-of-font-size: -0.5em;
        background-color: $bullet-color;
        border: $bullet-border-width solid $bullet-background-color;
        border-radius: 50%;
        color: $bullet-background-color;
        content: counter(numbered-list, decimal);
        counter-increment: numbered-list;
        display: block;
        font-weight: bold;
        width: $bullet-size;
        height: $bullet-size;
        margin-top: $half-of-font-size;
        line-height: $bullet-size;
        position: absolute;
        left: -$bullet-size / 2 - $bullet-line-width / 2 - $bullet-border-width;
        text-align: center;
      }
    }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:300, 400,700');

$bg: #4D515D;
$white: #FFFFFF;
$black: #333333;
$grey: #8B8B8C;
$grey-darker: #8C8C91;
$grey-lighter: #EFF1F4;
$shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

// body {
//   background-color: $bg;
//   background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
//   color: $grey;
//   font-family: "Roboto", sans-serif;
//   font-size: 14px;
// }

a {
  color: $grey;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  
  &:hover, &:active {
    opacity: 0.8;
  }
  
}

p.highlight {
  color: $black;
}



.modal {
  
  &-box {
    background: $white;
    border-radius: 4px;
    box-shadow: $shadow;
    display: flex;
    margin: 50px auto;
    max-width: 1000px;
    min-width: 750px;
    overflow: hidden;
  
    & > div {
      padding: 50px;
    }
    
    & > .left {
      flex: 1.5;
      order: 1;
    }
    
    & > .right1 {
    //   background-image: url("../images/T2.jpg");
      background-size: content;
      background-position: center center;
      flex: 1;
      order: 2;
    }
    & > .right2 {
        // background-image: url("../images/T3.jpg");
        background-size: cover;
        background-position: center center;
        flex: 1;
        order: 2;
      }
    
  }
  
  
  
  &-head {
    margin-bottom: 50px;
    
    h1 {
      color: $black;
      font-size: 42px;
      font-weight: 300;
      line-height: 50px;
      margin: 0 0 10px;
    }
    
    p {
      font-size: 14px;
      line-height: 20px;
    }
 
  }
 
  
  
  &-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  
  
  &-link {
    border: 1px solid $grey-lighter;
    border-radius: 4px;
    color: $grey-darker;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
    
    &:hover, &:active {
      top: -1px;
    }
    
    &:not(:last-child) {
      margin-bottom: 15px;  
    }
    
    &:after {
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      height: 30px;
      position: absolute;
      top: 50%; left: 15px;
      transform: translatey(-50%);
      width: 30px;
    }
    
    &.google:after {
      background-image: url("https://4.bp.blogspot.com/-I4gN9il1yFc/Wx6s6mqXDdI/AAAAAAAAA7I/B2eEP87ZumUPm-KBwhEUlcACehLagRY-ACLcBGAs/s1600/google-plus.png");
    }
    
    &.facebook:after {
      background-image: url("https://4.bp.blogspot.com/-8fZBJFYdA1w/Wx6s6hyL2XI/AAAAAAAAA7Q/q7IJG8buCCAlGMPhzbfs3ijg-eRqdZHmgCLcBGAs/s1600/facebook.png");
    }
    
    &.twitter:after {
      background-image: url("https://1.bp.blogspot.com/-LCK5bANscgE/Wx6s6nczF7I/AAAAAAAAA7M/hsaQ-SMszhg2HWx9uD4Ku9io4IL4_ljkgCLcBGAs/s1600/twitter.png");
    }
    
  }
  
  
  
  &-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

}






